<h1>Word Sorter - {{currentCategory?.name}}</h1>
<app-exit-game></app-exit-game>
<app-coins></app-coins>

<p>Current score: {{this.grade}} / 100</p>

<div class="container" *ngIf="currentWordIndex < words.length">
    <p>Is word {{words[currentWordIndex].origin}} part of {{currentCategory?.name}} category?</p>
    <button mat-icon-button (click)="submit(true)">YES</button>
    <button mat-icon-button (click)="submit(false)">NO WAY</button>

    <app-progress-bar [currentNumber]="currentWordIndex" [lastNumber]="words.length" />
</div>

<div class="container" *ngIf="currentWordIndex >= words.length">
    <app-results-table [dataSource]="results" [showTarget]="false"></app-results-table>
    <button mat-flat-button (click)="reset()">New Game</button>
</div>