h1 {
    text-align: center;
    margin-top: 40px;
    margin-right: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    height: "100%";
    gap: 10px;
    text-align: center;
    margin-top: 100px;
}

.progress-number {
    border: 1px solid gray;
    padding: 5px;
}

button{
    width:20%;
   margin: 15px;
}

.buttons{
    text-align: center;
}

.interpulation {
    font-weight: bolder;
}

.newGame{
    text-align: center;
}

.grade{
    float: right;
}
