<h1>Word Sorter - {{ currentCategory?.name }}</h1>
<app-exit-game></app-exit-game>
<app-coins></app-coins>

<p>Current score: {{ this.grade }} / 100</p>

<div class="container" *ngIf="currentWordIndex < words.length">
  <p>
    Is word
    <span class="interpulation">{{ words[currentWordIndex].origin }}</span> part
    of <span class="interpulation">{{ currentCategory?.name }} </span>category?
  </p>
  <div class="buttons">
    <button mat-icon-button (click)="submit(true)">YES</button>
    <button mat-icon-button (click)="submit(false)">NO WAY</button>
  </div>

  <app-progress-bar
    [currentNumber]="currentWordIndex"
    [lastNumber]="words.length"
  />
</div>

<div class="container" *ngIf="currentWordIndex >= words.length">
  <app-results-table
    [dataSource]="results"
    [showTarget]="false"
    [grade]="grade"
    [countCorretGuesses]="countCorretGuesses"
    [numOfTries]="numOfTries"
  ></app-results-table>
  <div class="newGame">
    <button mat-raised-button (click)="resetGame()">New Game</button>
  </div>
</div>
