.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

mat-card {
    width: 250px;
    height: 250px;
    color: white;
    background-color: #3e50b5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


mat-card-content {
    text-align: center;
}